<articles>
  <div>Card Title</div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint
      voluptatibus odio pariatur ad delectus magni reiciendis quis incidunt
      debitis, nisi at temporibus asperiores mollitia, laboriosam nemo autem
      neque aliquam perspiciatis?</p>
  </div>
</articles>

<articles>
  <div>Card Title</div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint
      voluptatibus odio pariatur ad delectus magni reiciendis quis incidunt
      debitis, nisi at temporibus asperiores mollitia, laboriosam nemo autem
      neque aliquam perspiciatis?</p>
  </div>
</articles>

<articles>
  <div>Card Title</div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint
      voluptatibus odio pariatur ad delectus magni reiciendis quis incidunt
      debitis, nisi at temporibus asperiores mollitia, laboriosam nemo autem
      neque aliquam perspiciatis?</p>
  </div>
</articles>